extends ../layout/main-layout
block content
    .row
        .col-md-12
            .card.text-center(style='background-color: #F22459')
                .card-header-sm
                    .card-header-sm
                        each ctg in categoryList
                            a.btn.btn-mg.btn-link.categoryName(href=`/categories/${ctg.id}`)
                                | #{ctg.name}
                            span(style='color: aliceblue') |

    .row(style="margin-top:20px")
        .col-md-12
            .card
                .card-body
                    .row
                        .col-md-4
                            img(src=`/img/productImages/${product.img}`).img-fluid
                        .col-md-8
                            .row
                                .col-md-6
                                    h1(style="font-family: guess sans light !important") #{product.name}
                                        hr
                                        div
                                            each mar in marketList
                                                if (product.marketid == mar.id)
                                                    img(src=`../img/productImages/${mar.logoImg}`).img-fluid
                                        span(style="font-size:60px; font-weight:bold; color:green") #{product.price}₺
                                        span(style="font-size:40px; font-weight:bold; color:red; text-decoration:line-through; margin-left:15px") #{product.sale}₺
                                        div

                                .col-md-6
                                    .card
                                        .card-header(style="font-style: italic")
                                            h6 Ürün Açıklaması
                                        .card-body
                                            label(name="desc") #{product.desc}
                    hr




